@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

@font-face {
  font-family: 'Londrina';
  src: url('./assets/fonts/LondrinaSketch-Regular.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FingerPaint';
  src: url('./assets/fonts/FingerPaint-Regular.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}